<div class="container">
  <h1>Editing Author</h1>
  <br/>
  <%= render 'form', author: @author %>
  <br/>
  <%= link_to 'Show', @author, class:"btn btn-secondary" %> |
  <%= link_to 'Back', authors_path, class:"btn btn-dark" %>
</div>