<div class="container">
  <h1>Editing Publisher</h1>
  <br/>
  <%= render 'form', publisher: @publisher %>
  <br/>
  <%= link_to 'Show', @publisher, class:"btn btn-secondary" %> |
  <%= link_to 'Back', publishers_path, class:"btn btn-dark" %>
</div>
