<div class="container">

  <div class="jumbotron">
    <h1 class="display-4"><%= @publisher.name %></h1>

    <hr class="my-4">
    
    <%= link_to 'Edit', edit_publisher_path(@publisher), class:"btn btn-secondary" %> |
    <%= link_to 'Back', publishers_path, class:"btn btn-secondary btn-dark" %>
  </div>

</div>
